@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stack Overflow Tags Ranking</h1>
    <center>
        <table class="text-sm-center">
            <tr>
                <th>Tag</th>
                <th>Count</th>
                <th>Percent[%]</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.name</td>
                    <td>@i.count</td>
                    <td>@i.percent</td>
                </tr>
            }
        </table>
    </center>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
